@model DireChinchillas.Models.ColourMutation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ColourMutation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeigeGene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeigeGene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhiteGene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhiteGene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TovGene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TovGene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EbonyGene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EbonyGene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecessiveGene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecessiveGene)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColourId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
