@model IEnumerable<DireChinchillas.Models.ColourMutation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeigeGene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhiteGene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TovGene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EbonyGene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecessiveGene)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeigeGene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhiteGene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TovGene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EbonyGene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecessiveGene)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColourId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColourId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColourId })
        </td>
    </tr>
}

</table>
